@import "tailwindcss";

:root {
    --color-primary-light: #E6F0FF;
    --primary-color: #0066FF;
    --text-primary: #1E1E1E;
    --text-secondary: #9CA3AF;
    --bg-tertiary: #EEF2F7;
    --accent-color: #00C897;
    --accent-color--transparent: rgba(0, 200, 151, 0.22);

    --success-color: #00C897;
    --error-color: #FF5A5F;
    --error-color--transparent: rgba(255, 90, 95, 0.16);
    --info-color: #0078FF;
}

@theme {
    --breakpoint-xxs: 25rem;
    --breakpoint-xs: 30rem;
}

body, .font-sf {
    font-family: var(--font-sf-pro), sans-serif;
    line-height: 1.5;
    color: var(--text-primary);
    letter-spacing: -0.02em;
}

main {
    overflow: hidden;
}

.bg-shared-balance {
    position: relative;
    background: linear-gradient(96.32deg, #0066FF 24.32%, #0046B3 96.61%);
}

.bg-shared-balance::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/balance-bg.webp") center center no-repeat;
    background-size: cover;
    opacity: 10%;
    border-radius: 0.75rem;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-primary-light {
    background: var(--color-primary-light);
}

.bg-tertiary {
    background: var(--bg-tertiary);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-active {
    color: var(--primary-color);
}

.hover\:text-active:hover {
    color: var(--primary-color);
}

.bg-accent {
    background: var(--accent-color);
}

.bg-accent-transparent {
    background: var(--accent-color--transparent);
}

.bg-success {
    background: var(--success-color);
}

.text-success {
    color: var(--success-color);
}

.bg-error {
    background: var(--error-color);
}

.bg-error-transparent {
    background: var(--error-color--transparent);
}

.text-error {
    color: var(--error-color);
}

.bg-info {
    background: var(--info-color);
}

.text-info {
    color: var(--info-color);
}

.navbar {
    background: #EEF2F757;
    backdrop-filter: blur(23px);
    box-shadow: 2px -2px 57.2px 0px #282B3059;
    border-radius: 50px;
}

.right-blurred {
    position: relative;
}

.right-blurred::after {
    position: absolute;
    content: "";
    top: 0;
    left: 95%;
    width: 10%;
    height: 100%;
    filter: blur(1rem);
    background: white;
}

.z-1 {
    z-index: 1;
}